language: php

sudo: required

services:
  - docker

before_install:
  - chmod ugo+rwx /website/data/storage
  - ls -al /website/data
  - make build

before_script:
  - nohup make serve &

script:
  - make wait-for-serve
  - make php-install
  - make rebuild-db
  - make test

after_script:
  - docker-compose -f ./docker-compose-testing.yml down
  - docker-compose -f ./docker-compose-production.yml down